html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.sidebar-button {
  transition: background-color 200ms;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  text-align: right;
  padding: 12px;
  width: 150;
  padding-right: 20px;
  cursor: pointer;
}
.sidebar-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: calc(100vh - 50px);
  padding: 10px;
}

.content .markdown {
  font-family: 'Roboto Slab', serif;
  max-width: 700px;
  padding-left: 24px;
  padding-right: 24px;
}

.serif {
  font-family: 'Roboto Slab', serif;
}

input {
  border: 1px solid #ddd;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  width: calc(100% - 10px);
}

.small-only {
  display: none;
}

@media screen and (max-width: 800px) {
  .large-only {
    display: none;
  }
  .small-only {
    display: flex;
  }
}

.menu-icon:hover {
  background-color: #ddd;
}

#small-header.menu-open .show-if-menu-open {
  display: inherit;
}
#small-header.menu-closed .show-if-menu-open {
  display: none;
}
#small-header.menu-open .show-if-menu-closed {
  display: none;
}
#small-header.menu-closed .show-if-menu-closed {
  display: inherit;
}

.header-button {
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
}
.header-button:hover {
  background-color: #eee;
}
